<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890939438789-7coc5tlrnp57p855ti91jmqearo6tkj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890939438789-7coc5tlrnp57p855ti91jmqearo6tkj8</string>
	<key>API_KEY</key>
	<string>AIzaSyBo54DTTE6dQTiWOoDdiHXu4YmfbiL7Dxo</string>
	<key>GCM_SENDER_ID</key>
	<string>890939438789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anarsuleymanli.fruits</string>
	<key>PROJECT_ID</key>
	<string>fruits-7ac64</string>
	<key>STORAGE_BUCKET</key>
	<string>fruits-7ac64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890939438789:ios:f1a7e203b62c95a6e3e2ac</string>
</dict>
</plist>